.StudentCard {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
    padding: 16px;
    border-bottom: 1px solid #eee;
}

.StudentCard__avatar {
    display: grid;
    justify-content: center;
    align-items: center;
}
.StudentCard__letter{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    font-weight: 600;
    font-size: 40px;
}

.StudentCard__avatar img {
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.StudentCard__info h1 {
    margin: 0;
    text-transform: uppercase;
}

.StudentCard__info ul {
    padding-inline-start: 16px;
    color: #777
}

.StudentCard__info li {
    list-style-type: none;
}

.F{
    color : red;
}

.D{
    color : orange;
}

.C {
    color : yellow;
}
.B{
    color : rgb(190, 205, 50);
}
.A{
    color : limegreen;
}